* {
    margin: 0;
}

body {
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: white;
    background-color: #333;
    padding: 1em;
}

main {
    padding: 2em;
    display: flex;
    margin: 10px;
}

article {
    width: 40%;
    padding: 12px;
    margin: 0 8px;
}

aside {
    width: 60%;
    padding: 12px;
    margin: 0 8px;
}

aside ul {
    list-style-type: none;
}

aside ul li::before {
    content: "\2192";
    margin-right: 0.5rem;
    color: #333;
}

.bar {
    overflow: hidden;
}

.bar ul {
    list-style: none;
    text-align: center;
}

.bar li {
    display: inline-block;
    padding: 1em;
}

.bar li a {
    display: flexbox;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.bar li a:hover {
    background-color: #4ae1f8;
    transition-delay: 0.3s;
    cursor: pointer;
}